<div class="container-fluid footer">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-3">
            <div class="column columText footerContact">
                <div class="textFoot">
                    ¿NECESITAS AYUDA?
                </div>
                <div class="textFoot">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-11">0264 123 4567</div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-11">enquiry@geekshubstravels.com</div>
                    </div>
                </div>
                <div class="textFoot">
                    Lun-Vier. 9:30-19:00 Sab:10:00-14:00
                </div>
            </div>
        </div>
        <div class="col-3 d-none d-lg-block">
            <div class="column columText footerHelp">
                <div class="textFoot">
                    <h3>INFORMACIÓN</h3>
                </div>
                <div class="listFooter">
                    <div>Quienes somos</div>
                    <div>Preguntas frecuentes</div>
                    <div>Política de privacidad</div>
                    <div>Condiciones generales</div>
                    <div>Aviso legal</div>
                    <div>Contacto</div>
                    <div>Programa de puntos</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="column columText footerNewsletter">
                <div class="textFoot">
                    SUBSCRÍBETE A LA NEWSLETTER
                </div>
            </div>
            <div class="form-group col-md-6" id="subscribeButton">
                <input type="email" class="form-control" id="inputEmail4" placeholder="Correo electronico">
            </div>
            <div class="Btn">
                <button type="button" class="btn btn-warning btn-lg">SUSCRIBETE</button>
            </div>
        </div>
    </div>
    <div class="row footerBrand text-center">
        <div class="col-12 d-none d-lg-block">
            Geekshubs Travels 2018 Todos los derechos reservados
        </div>
        <div class="col-12 justify-content-center d-lg-none">
            <div class="socialMedia">
                <div class="col-2 d-lg-none">
                    <a href="https://www.facebook.com/" target="_blank">
                        <img class="face image-fluid" src="/images/fb-ico.png" alt="Facebook"> </a>
                </div>
                <div class="col-2 d-lg-none">
                    <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                        <img class="whats image-fluid" src="/images/ws-ico.png" alt="whatsapp"> </a>
                </div>
                <div class="col-2 d-lg-none">
                    <a href="https://twitter.com/" target="_blank">
                        <img class="tweet image-fluid" src="/images/tt-ico.png" alt="twitter"> </a>
                </div>
                <div class="col-2 d-lg-none">
                    <a href="https://www.instagram.com/" target="_blank">
                        <img class="instagram image-fluid" src="/images/instagram.png" alt="instagram"> </a>
                </div>
                <div class="col-2 d-lg-none">
                    <a href="https://es.linkedin.com/" target="_blank">
                        <img class="linkedin image-fluid" src="/images/linkedin.png" alt="linkedin"> </a>
                </div>
                <div class="col-2 d-lg-none">
                    <a href="https://www.youtube.com/" target="_blank">
                        <img class="youtube image-fluid" src="/images/youtube.png" alt="youtube"> </a>
                </div>
            </div>
        </div>
    </div>

</div>