<div class="container-fluid">
    <div class="row">
        <div class="col-12 image">
            <div class="row">
                <div class="col-2">
                    <img class="icon image-fluid" src="/images/iconoweb.png" alt="icono web">
                </div>

                <div class="col-8">
                    <nav class="nav justify-content-center pageLinks">
                        <a class="nav-link" href="#">Destinos</a>
                        <a class="nav-link" href="#">Quíen somos</a>
                        <a class="nav-link" href="#">Donde estamos</a>
                    </nav>
                </div>
                <div class="col-2">
                    <div class="row justify-content-end">
                        <div>
                                <a href="#">
                                    <img class="face icons" src="/images/fb-ico.png" alt="Facebook"</a>
                        </div>
                        <div>
                                <a href="#">
                                    <img class="whats icons" src="/images/ws-ico.png" alt="whatsapp"</a>
                        </div>
                        <div>
                            
                                <a href="#">
                                    <img class="tweet icons" src="/images/tt-ico.png" alt="twitter"</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>