<div class="container-fluid justify-content-between">
    <div class="row">
        <div class="col-12 notFoundImage">
            <div class="row">
                <div class="col-2 d-none d-lg-block">
                    <img class="icon image-fluid" src="/images/iconoweb.png" alt="icono web">
                    <div class="font-weight-bold">
                        GeeksHubs
                    </div>
                    <div class="font-weight-bold">
                        Travels
                    </div>
                </div>

                <div class="col-7 d-none d-lg-block">
                    <nav class="nav justify-content-start pageLinks">
                        <a class="nav-link" href="/#destination">Destinos</a>
                        <a class="nav-link" href="/#explication">Quiénes somos</a>
                        <a class="nav-link" href="/#formMap">Dónde estamos</a>
                        {{#unless user}}
                        <a class="nav-link" href="/register">Registrate</a>
                        <a class="nav-link" href="/login">Login</a>
                        {{/unless}}
                    </nav>

                </div>
                <div class="col-3 d-none d-lg-block">
                    {{#unless user}}
                    <div class="row socialMedia">
                        <div class="col-2">
                            <a href="https://www.facebook.com/" target="_blank">
                                <img class="face image-fluid" src="/images/fb-ico.png" alt="Facebook"> </a>
                        </div>
                        <div class="col-2">
                            <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                                <img class="whats image-fluid" src="/images/ws-ico.png" alt="whatsapp"> </a>
                        </div>
                        <div class="col-2">
                            <a href="https://twitter.com/" target="_blank">
                                <img class="tweet image-fluid" src="/images/tt-ico.png" alt="twitter"> </a>
                        </div>
                        <div class="col-2">
                            <a href="https://www.instagram.com/" target="_blank">
                                <img class="instagram image-fluid" src="/images/instagram.png" alt="instagram"> </a>
                        </div>
                        <div class="col-2">
                            <a href="https://es.linkedin.com/" target="_blank">
                                <img class="linkedin image-fluid" src="/images/linkedin.png" alt="linkedin"> </a>
                        </div>
                        <div class="col-2">
                            <a href="https://www.youtube.com/" target="_blank">
                                <img class="youtube image-fluid" src="/images/youtube.png" alt="youtube"> </a>
                        </div>
                    </div>
                    {{/unless}} 
                    {{#if user}}
                    <div class="container-fluid loginUser">
                            <div class="dropdown d-flex justify-content-end">
                                <button class="btn btn-secondary dropdown-toggle buttonDropwn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    {{user}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Profile</a>
                                    {{#if admin}}
                                    <a class="dropdown-item" href="/admin">admin</a>
                                    {{/if}}
                                    <a class="dropdown-item" href="/closeSession">Log out</a>
                                </div>
                        </div>
                    </div>
                    {{/if}}
                </div>

            </div>
            <div class="row d-none d-sm-block d-lg-none d-block d-xs-block d-md-block align-items-center">
                <nav class="navbar navbar-expand-auto navbar-dark navbarColor fixed-top">
                    <img class="icon image-fluid logoWeb" src="/images/iconoweb.png" alt="icono web">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarHeader">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                             {{#unless user}}
                            <li class="nav-item active justify-content-center">
                                <a class="nav-link font-italic" href="/#carouselFligths">Destinos</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link font-italic" href="/#explicationMobile">Quiénes somos</a>
                            </li>
                             
                            <li class="nav-item active">
                                <a class="nav-link font-italic" href="/register">Registrate</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link font-italic" href="/login">Login</a>
                            </li>
                            {{/unless}}
                            {{#if user}}
                            <li class="nav-item active">
                                <a class="nav-link font-italic" href="#">{{user}}</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link font-italic" href="#">Profile</a>
                            </li>
                            {{#if admin}}
                            <li class="nav-item active">
                                <a class="nav-link font-italic" href="/admin">Admin</a>
                            </li>
                            {{/if}}
                            <li class="nav-item active">
                                <a class="nav-link font-italic" href="/closeSession">Log out</a>
                            </li>
                            {{/if}}
                        </ul>
                    </div>
                </nav>
            </div>

        </div>
    </div>

</div>