<div class="container-fluid justify-content-between">
    <div class="row">
        <div class="col-12 image">
            <div class="row">
                <div class="col-2 d-none d-lg-block">
                    <img class="icon image-fluid" src="/images/iconoweb.png" alt="icono web">
                    <div class="font-weight-bold">
                        GeeksHubs
                    </div>
                    <div class="font-weight-bold">
                        Travels
                    </div>
                </div>

                <div class="col-7 d-none d-lg-block">
                    <nav class="nav justify-content-start pageLinks">
                        <a class="nav-link" href="/#destination">Destinos</a>
                        <a class="nav-link" href="/#explication">Quiénes somos</a>
                        <a class="nav-link" href="/#formMap">Dónde estamos</a>
                        <a class="nav-link" href="/register">Registrate</a>
                        <a class="nav-link" href="/login">Login</a>
                    </nav>

                </div>
                <div class="col-3 d-none d-lg-block">
                    <div class="row socialMedia">
                        <div class="col-2">
                            <a href="https://www.facebook.com/" target="_blank">
                                <img class="face image-fluid" src="/images/fb-ico.png" alt="Facebook"> </a>
                        </div>
                        <div class="col-2">
                            <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                                <img class="whats image-fluid" src="/images/ws-ico.png" alt="whatsapp"> </a>
                        </div>
                        <div class="col-2">
                            <a href="https://twitter.com/" target="_blank">
                                <img class="tweet image-fluid" src="/images/tt-ico.png" alt="twitter"> </a>
                        </div>
                        <div class="col-2">
                            <a href="https://www.instagram.com/" target="_blank">
                                <img class="instagram image-fluid" src="/images/instagram.png" alt="instagram"> </a>
                        </div>
                        <div class="col-2">
                            <a href="https://es.linkedin.com/" target="_blank">
                                <img class="linkedin image-fluid" src="/images/linkedin.png" alt="linkedin"> </a>
                        </div>
                        <div class="col-2">
                            <a href="https://www.youtube.com/" target="_blank">
                                <img class="youtube image-fluid" src="/images/youtube.png" alt="youtube"> </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row d-none d-sm-block d-lg-none d-block d-xs-block d-md-block align-items-center">
                <nav class="navbar navbar-expand-auto navbar-dark bg-dark fixed-top">
                    <img class="icon image-fluid logoWeb" src="/images/iconoweb.png" alt="icono web">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarTogglerDemo01"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarHeader">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active justify-content-center">
                                <a class="nav-link font-italic" href="/#carouselFligths">Destinos</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link font-italic" href="/#explicationMobile">Quiénes somos</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link font-italic" href="/register">Registrate</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link font-italic" href="/login">Login</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="row">
                <div class="col-3">

                </div>
                <div class="col-6 d-flex justify-content-start travelHeader">
                    <h1>
                        <strong>Viaja!</strong>
                    </h1>
                </div>
                <div class="col-3">

                </div>
            </div>
            <div class="row">
                <div class="col-3">

                </div>
                <div class="col-6 d-flex justify-content-start headerText">
                    <h2>Descubre lugares maravillosos!</h2>
                </div>
                <div class="col-3">

                </div>
            </div>
            <div class="row">
                <div class="col-3">

                </div>
                <div class="col-6 d-flex justify-content-center">
                    <div class="wrapperBtn">
                        <button type="button" class="btn btn-warning btn-lg buttonHeader font-italic">ver destinos</button>
                    </div>
                </div>
                <div class="col-3">

                </div>
            </div>
        </div>
    </div>

</div>