<div class="container-fluid">
    <div class="row loginBackground d-flex align-items-center" id="LoginPage">
        <div class="offset-3 col-6">
            <div class="row loginContainer text-center d-flex align-items-center">
                <div class="offset-2 col-8">
                    <h1 class="titleLogin">CART</h1>
                    
                    {{#if cart}}
                        {{cart.id}}
                    {{/if}}
                    
                </div>
            </div>
        </div>
    </div>
</div>