<div class="container-fluid">
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="/images/beijing.JPG" alt="beijing">
            <div class="card-body text-center">
                <h5 class="card-title">Beijing</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/buenos_aires.JPG" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">Buenos aires</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/ciudad_mexico.JPG" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">Mexico</h5>
            </div>
        </div>
    </div>

    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="/images/new_york.JPG" alt="beijing">
            <div class="card-body text-center">
                <h5 class="card-title">Nueva york</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/tokyo.JPG" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">Tokyo</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/madrid.JPG" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">Madrid</h5>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid whoBackground">
<div class="row">
    <div class="col-12 imageWho">
        <div class="row">
            <div class="col-1 offset-6">
                <div class="quienesSomos card" style="width: 25rem;">
                    <div class="card-body">
                        <h5 class="titleQS card-title">
                            QUIENES SOMOS
                        </h5>
                        <p class="textQS card-text">GeekHubs Travels es una agencia de viajes online creada en 2009 or un equipo de viajeros entusiastas
                            que deciden hacer de su pasión por conocer el mundo un modo de vida. Desde nuestros inicios hemos
                            diseñado más de 500 viajes organizados a diferentes destino de Europa, Norteamérica y Asia. Nuestro
                            objetivo ahora es ir ampliando nuevos horizontes poco a poco.</p>
                        <a href="#" class="btn btn-primary btn-lg">Descubrir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container-fluid contact">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-4">
            <div class="mapGoogle">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d513.8216667893546!2d-0.3561054967107265!3d39.48174063382946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604898947abad3%3A0x5aae0e0b7fa0358a!2sGeeksHubs+Space+Valencia!5e0!3m2!1ses!2ses!4v1527777199967"
                    width="350" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-1">

        </div>
        <div class="col-4">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" id="inputEmail1" placeholder="Name*">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="password" class="form-control" id="inputPassword2" placeholder="Email*">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" id="inputEmail5" placeholder="Phone">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Country">
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
                </div>
            </form>
            <div class="Btn">
                <button type="button" class="btn btn-warning btn-lg">ver destinos</button>
            </div>
        </div>
        <div class="col-1">

        </div>
    </div>
</div>