<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/dist/css/main.min.css' />
  </head>
  <body>
    {{{body}}}
    <script type="text/javascript" src="/dist/script/script.min.js"></script>
  </body>
</html>
