<div class="container-fluid">
    <div class="row loginBackground d-flex align-items-center" id="LoginPage">
        <div class="offset-3 col-6">
            <div class="row loginContainer text-center d-flex align-items-center">
                <div class="offset-2 col-8">
                    <h1 class="titleLogin">LOGIN</h1>
                    <form method="POST">
                        <div class="form-row">
                            <input type="text" class="form-control border border-info inputRegister" placeholder="Usuario o email" name="user">
                        </div>
                        <div class="form-row aling-items-center">
                            <input type="password" class="form-control border border-info inputRegister" placeholder="contraseña" name="inputPass">
                        </div>
                         {{#if info}}
                        <div>
                            <p> </p>
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>ERROR</strong> {{info}}
                            </div>
                        </div>
                        {{/if}}
                   
                    <div class="buttonLogin">
                        <button type="submit" class="btn-lg btn-warning">Enviar</button>
                    </div>
                    <div class="linkPassword">
                        <a href="#" class="linkLogin" data-toggle="modal" data-target="#recoverPopUp">¿No recuerdas tu contraseña?</a>
                    </div>

                    <form action="/renew" method="post">
                        <div class="modal fade" id="recoverPopUp" tabindex="-1" role="dialog" aria-labelledby="poPupTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="poPupTitle">Recuperar contraseña</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-left">
                                        Introduzca el Email.
                                        <input type="email" class="form-control" id="RegisterRecover" aria-describedby="emailHelp" placeholder="Enter email">
                                    </div>
                                    <div class="modal-footer">
                                        Te enviaremos a este correo el enlace para recuperar tu contraseña.
                                        <a class="btn-lg btn-primary buttonNotFound">Enviar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>