<div class="container-fluid">
    <div class="row loginBackground d-flex align-items-center" id="LoginPage">
        <div class="offset-3 col-6">
            <div class="row loginContainer text-center d-flex align-items-center">
                <div class="offset-2 col-8">
                    <h1 class="titleLogin">Nueva Contraseña</h1>
                    <form method="POST">
                        <div class="form-row">
                            <input type="password" class="form-control border border-info inputRegister" placeholder="nueva contraseña" name="renewpass">
                        </div>
                        <div class="form-row aling-items-center">
                            <input type="password" class="form-control border border-info inputRegister" placeholder="repita contraseña" name="renewNewPass">
                        </div>
                        <div class="buttonLogin">
                            <button type="submit" class="btn-lg btn-warning">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>