<div class="container-fluid">
    <div class="row registerBackground d-flex align-items-center">
               
                <div class="offset-3 col-6">
                    <div class="row registerContainer text-center d-flex align-items-center">
                            <div class="offset-2 col-8">
                                <h1>REGISTRO</h1>
                                <h4>¿Ya estas registrado?</h4>
                                <form>
                                    <div class="form-row">
                                        <input type="text" class="form-control border border-info inputRegister" placeholder="Usuario">
                                    </div>
                                    <div class="form-row aling-items-center">
                                        <input type="email" class="form-control border border-info inputRegister" placeholder="Email">
                                    </div>
                                    <div class="form-row aling-items-center">
                                        <input type="password" class="form-control border border-info inputRegister" placeholder="Contraseña">
                                    </div>
                                    <div class="form-row aling-items-center">
                                        <input type="password" class="form-control border border-info inputRegister" placeholder="Repite la contraseña">
                                    </div>
                                </form>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkRegister">
                                    <label class="form-check-label" for="checkregister">
                                        Acepto los terminos y condiciones, asi como la politica de privacidad.
                                    </label> 
                                </div>
                                <button type="submit" class="btn-lg btn-warning">Enviar</button>
                            </div>
                    </div>
                </div>
               
    </div>
</div>